#device($masterDevice, 'type=defensePro', 'prompt=DefensePro Source Device', 'lazyConnect=true')
#device($standByDevices, 'type=defensePro[]', 'prompt=DefensePro Destintation Devices', 'lazyConnect=true')

#parse("dpSync/dp_common.vm")

#set($SUPPORTED_VERSION = [6,7,8])

#set($allDevices = [])
#if(!$allDevices.contains($masterDevice))
	#set($dummy = $allDevices.add($masterDevice))
#end
#foreach($dp in $standByDevices)
	#if(!$allDevices.contains($dp))
		#set($dummy = $allDevices.add($dp))
	#end
#end

#if($allDevices.size() == 1)
	#log('error','syslog-prefix got only 1 device as input, please set 2 devices or more')
	#error('syslog-prefix got only 1 device as input, please set 2 devices or more')
#end

#foreach($defensePro in $allDevices)
	#select($defensePro)
	#set($major_ver = [])
	#get_dp_major_version($major_ver, $defensePro)
    #if(!$SUPPORTED_VERSION.contains($major_ver[0]))
    	#log('error',"syslog-prefix DP Version is not supported, Version: $major_ver[0], supporting only - $SUPPORTED_VERSION ")
        #error("DP Version is not supported, Version: $major_ver[0], supporting only - $SUPPORTED_VERSION ")
    #end
    #if(!$deviceVersion)
		#set($deviceVersion = $defensePro.readBean("RndDeviceParams").rndBrgVersion)
		#log("version is $deviceVersion")
	#elseif($deviceVersion != $defensePro.readBean("RndDeviceParams").rndBrgVersion)
    	#log('error',"syslog-prefix device versions is different, please use the same version for all devices")
        #error("syslog-prefix device versions is different, please use the same version for all devices")
    #end
#end