#macro(get_dp_major_version, $major_ver, $defensePro)
	#set($version = $defensePro.readBean("RndDeviceParams").rndBrgVersion)
	#set($ver_split = $version.split("[.]"))
	#set($temp_major_ver = 0)
	#set($temp_major_ver = $temp_major_ver.parseInt($ver_split[0]))
	#set($dummy = $major_ver.add($temp_major_ver))
#end


#macro(updateIfNeeded7, $defensePro)
	#log("entered updateifneeded7")
	#set($bean = $defensePro.newBean("RsUpdatePolicies"))
	#set($isRequired = $defensePro.read($bean))
	#if($isRequired.rdwrUpdatePoliciesRequired == "YES")
		#set($dummy = $defensePro.apply())
        #log("sent apply command to $defensePro.ip")
	#end
	#ps_common_sleep(3)
	#set($isRequired = $defensePro.read($bean))
	#if($isRequired.rdwrUpdatePoliciesRequired == "YES")
        #error("device is still updating, please check defensePro - $defensePro.ip")
	#end
#end

#macro(updateIfNeeded6, $defensePro)
	#log("entered updateifneeded6")
	#set($dummy = $defensePro.apply())
    #ps_common_sleep(3)
	#savereplies(false)
        #set($expect.timeout = 10)
        classes modify mac-group create dummy eeeeeeeeeeee
		#expectCase()
			#case('Created successfully.*')
				#log('info', "Updated Policy finished successfully")
				classes modify mac-group del dummy eeeeeeeeeeee
			#end
            #case('Error: An entry with same values in the following fields already exists.*')
            	#log('dummy entry exists')
                classes modify mac-group del dummy eeeeeeeeeeee
                classes modify mac-group create dummy eeeeeeeeeeee
                #expectContinue()
            #end
			#case('You cannot change the configuration now. The Update Policies action is in progress. Try again later.*')
				#ps_common_sleep(3)
				#log('info', 'Update in progress waiting for it to finish')
				#classes modify mac-group create dummy eeeeeeeeeeee
				#expectContinue()
			#end
		#end
	#end
#end


#macro(updateIfNeeded, $defensePro, $majorVersion)
	#if($majorVersion == 7 || $majorVersion == 8)
		#log("entered updateifneeded for version $majorVersion for device $defensePro")
		#set($bean = $defensePro.newBean("RsUpdatePolicies"))
		#set($isRequired = $defensePro.read($bean))
		#if($isRequired.rdwrUpdatePoliciesRequired == "YES")
			#set($dummy = $defensePro.apply())
			#log("sent apply command to $defensePro.ip")
		#end
		#ps_common_sleep(3)
		#set($isRequired = $defensePro.read($bean))
		#if($isRequired.rdwrUpdatePoliciesRequired == "YES")
			#error("device is still updating, please check defensePro - $defensePro.ip")
		#end
	#elseif($majorVersion == 6)
		#log("entered updateifneeded for version $majorVersion for device $defensePro")
		#set($dummy = $defensePro.apply())
		#ps_common_sleep(3)
		#savereplies(false)
			#set($expect.timeout = 10)
			classes modify mac-group create dummy eeeeeeeeeeee
			#expectCase()
				#case('Created successfully.*')
					#log('info', "Updated Policy finished successfully")
					classes modify mac-group del dummy eeeeeeeeeeee
				#end
				#case('Error: An entry with same values in the following fields already exists.*')
					#log('dummy entry exists')
					classes modify mac-group del dummy eeeeeeeeeeee
					classes modify mac-group create dummy eeeeeeeeeeee
					#expectContinue()
				#end
				#case('You cannot change the configuration now. The Update Policies action is in progress. Try again later.*')
					#ps_common_sleep(3)
					#log('info', 'Update in progress waiting for it to finish')
					#classes modify mac-group create dummy eeeeeeeeeeee
					#expectContinue()
				#end
			#end
		#end
	#else
		#error("DP $defensePro with version $majorVersion is not supported")
	#end
#end